AddDefaultCharset UTF-8
php_value max_execution_time 60
RewriteEngine On
DirectoryIndex index.php
RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]
RewriteRule ^register(.*)$ /index.php?method=register [L]
RewriteRule ^login(.*)$ /index.php?method=login [L]
RewriteRule ^logout?(.*)$ /index.php?method=logout [L]
<FilesMatch "^(params\.php|\.htaccess)$">
 order allow,deny
 deny from all
 </FilesMatch>